button.page-link {
    display: inline-block;
  }
  button.page-link {
      margin-top: 20px;
      font-size: 20px;
      color: #29b3ed !important;
      font-weight: 500;
  }
  .offset {
    width: 500px !important;
    margin: 20px auto;  
  }